.home-image img, .party-carousel__image img, .party-heart__image img, .news-letter-image img {
  height: 100%;
}

.home {
  position: relative;
}

.home-background {
  width: 100%;
  height: 0;
  position: relative;
}
.home-background__paper {
  top: 0;
  left: 0;
  position: absolute;
}
.home-background__zig-zag {
  top: 12.5rem;
  left: 37.5%;
  position: absolute;
}
.home-background__dots {
  top: 0;
  left: 13rem;
  position: absolute;
}
.home-background__down {
  bottom: 5rem;
  left: 5rem;
  position: absolute;
}

.music-show-title {
  max-width: 50%;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
}
.music-show-title__stroke {
  margin-right: 0.5rem;
}
.home-content {
  padding-top: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-content .moto__black {
  transform: translate(-10.5rem, -2.5rem) rotate(-5deg);
}
.home-content .moto__purple {
  transform: translate(-4rem, 0) rotate(-3deg);
}
.home-content__description {
  padding: 0 25%;
  text-align: center;
}

.home-image {
  width: 100%;
}

.heart-banner {
  padding: 5em 0;
  position: relative;
}
.heart-banner__spiral {
  left: 0;
  bottom: 0;
  position: absolute;
}
.heart-banner__title .title-highlight {
  color: #e0e0e0;
}
.party-info-background {
  position: relative;
  z-index: 4;
}
.party-info-background__paper {
  transform: translateY(-70%);
  position: absolute;
}
.party-info-background__dots-left {
  top: 15rem;
  left: 0;
  position: absolute;
}
.party-info-background__dots-right {
  top: 10rem;
  right: 0;
  position: absolute;
}

.carousel-dates {
  padding-top: 9rem;
  position: relative;
}
.carousel-dates__controls {
  right: 20%;
  position: absolute;
  display: flex;
}
.carousel-dates__controls button:first-child {
  margin-right: 9rem;
}
.carousel-dates__slides {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.carousel-dates__slide {
  height: 30rem;
}

.date {
  padding-top: 5rem;
  min-height: 7rem;
  position: relative;
}
.date__decorative {
  left: 10%;
  position: absolute;
}
.date__title {
  top: 0;
  right: 7rem;
  position: absolute;
  font-family: "Monda", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #9913e1;
}
.date .moto__black {
  transform: translate(-19rem, -2.5rem) rotate(-5deg);
}
.date .moto__purple {
  transform: translate(3rem, 0) rotate(3deg);
}
.reserve-tickets {
  position: relative;
}

.reserve-tickets-top-images__top, .reserve-tickets-top-images__left {
  background-color: #9913e1;
}
.reserve-tickets-top-images__top img, .reserve-tickets-top-images__left img {
  opacity: 0.4;
  filter: contrast(125%) brightness(250%);
}

.reserve-tickets-content {
  padding: 0 3.5rem !important;
  padding-top: 6rem !important;
  position: relative;
}
.reserve-tickets-content__title {
  position: relative;
  padding-bottom: 1rem;
  z-index: 6;
}
.reserve-tickets-content__stroke {
  top: 9rem;
  right: 13rem;
  position: absolute;
}
.reserve-tickets-images {
  bottom: 5rem;
  right: -4rem;
  position: absolute;
  min-width: 100rem;
  display: flex;
  flex-direction: row-reverse;
}
.reserve-tickets-images__image {
  float: right;
  margin-right: 1rem;
}

.party-carousel {
  position: relative;
  z-index: 4;
}
.party-carousel__carousel {
  padding-top: 5rem;
}
.party-carousel__paper {
  top: -25%;
  left: -5%;
  position: absolute;
}
.carousel-info {
  padding-top: 10rem !important;
  padding: 0 15%;
  position: relative;
}
.carousel-info__slides {
  display: flex;
}
.carousel-info__slide {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.carousel-info__controls {
  padding: 0 15%;
  left: 50%;
  width: 100%;
  bottom: 5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%);
}

.info {
  max-width: 100%;
  position: relative;
  padding: 1rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
}
.info__spin {
  top: 0.5rem;
  position: absolute;
}
.info .moto {
  padding-bottom: 4rem;
}
.info .moto__black {
  transform: translate(-10.5rem, -2.5rem) rotate(-7deg);
}
.info .moto__purple {
  transform: translate(-4rem, 0) rotate(-3deg);
}
.info__description {
  position: relative;
  padding-bottom: 4rem;
}
.info .learn-more {
  position: relative;
  margin: 0 auto;
}

.party-cool {
  position: relative;
}

.party-cool-image-block {
  position: relative;
  z-index: 6;
  background-color: #9913e1;
}
.party-cool-image-block__image {
  opacity: 0.4;
  filter: contrast(125%) brightness(250%);
}

.party-cool-background {
  position: relative;
}
.party-cool-background__zig-zag {
  top: 3rem;
  left: 0;
  position: absolute;
}
.party-cool-background__spiral {
  top: 12rem;
  right: 0;
  position: absolute;
}
.party-cool-background__dots {
  top: -8rem;
  right: 0;
  position: absolute;
}

.party-cool-content {
  padding: 8.5rem 0;
  min-height: 10rem;
}
.party-cool-content .moto__black {
  transform: translate(-10.5rem, -2.5rem) rotate(-5deg);
}
.party-cool-content .moto__purple {
  transform: translate(-4rem, 0) rotate(-3deg);
}
.party-cool-content__description {
  text-align: center;
}

.party-heart {
  z-index: 6;
  position: relative;
}
.party-heart-content-background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.party-heart-content-background__paper {
  max-height: 100%;
  top: -0.1rem;
  right: 0;
  position: absolute;
}
.party-heart-content-background__down-right {
  left: 2rem;
  top: 8rem;
  position: absolute;
}
.party-heart-content-background__down {
  left: 8rem;
  top: 3rem;
  position: absolute;
}
.party-heart-content-background__up-left {
  right: 5rem;
  bottom: 3rem;
  position: absolute;
}

.party-heart-content {
  display: flex;
  align-items: center;
  flex-direction: center;
}
.party-heart-content__content {
  padding: 20%;
}
.party-heart-content__title {
  padding-bottom: 2rem;
}
.party-heart-content__title .title-highlight {
  color: #e0e0e0;
}
.party-heart-content__description {
  padding-bottom: 2rem;
}

.stars {
  position: relative;
}

.stars-background {
  position: absolute;
  height: 100%;
  width: 100%;
}
.stars-background__paper-left {
  top: -2rem;
  left: 0;
  position: absolute;
}
.stars-background__dots {
  top: 0;
  left: 10%;
  position: absolute;
}
.stars-background__paper-right {
  top: -5rem;
  right: 0;
  position: absolute;
}

.carousel-stars {
  position: relative;
  padding: 15rem 0;
}
.carousel-stars__slides {
  display: flex;
}
.carousel-stars__controls {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  top: 50%;
  bottom: 0;
  position: absolute;
  transform: translateY(-50%);
}

.star {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}
.star__title {
  text-align: center;
  font-size: 4.5em;
}
.star__description {
  margin: 2rem 0;
  text-align: center;
}
.star-logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.star-logo__circle {
  position: relative;
}
.star-logo__star {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.news-letter-content {
  padding-top: 5rem;
  position: relative;
}
.news-letter-content__paper {
  max-height: 100%;
  left: 0;
  bottom: -3.5rem;
  position: absolute;
}
.news-letter-content__title {
  text-align: center;
  padding: 2rem 20%;
}
@media (max-width: 767px) and (min-width: 320px) {
  .news-letter-content__title {
    padding: 2rem 0;
  }
}
.news-letter-content__title .title-highlight {
  color: #e0e0e0;
}
.news-letter-content__form {
  padding: 0 20%;
}
@media (max-width: 767px) and (min-width: 320px) {
  .news-letter-content__form {
    padding: 1rem;
  }
}
.news-letter-content input,
.news-letter-content textarea {
  padding-left: 2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  width: 100%;
  border-radius: 1.5rem;
  border: 0.25em solid #e0e0e0;
  background-color: #b30be6;
  color: #e0e0e0;
  font-family: "Monda", sans-serif;
}
.news-letter-content input::-moz-placeholder, .news-letter-content textarea::-moz-placeholder {
  font-family: "Monda", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #e0e0e0;
}
.news-letter-content input:-ms-input-placeholder, .news-letter-content textarea:-ms-input-placeholder {
  font-family: "Monda", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #e0e0e0;
}
.news-letter-content input::placeholder,
.news-letter-content textarea::placeholder {
  font-family: "Monda", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #e0e0e0;
}
.news-letter-content input:focus,
.news-letter-content textarea:focus {
  outline: none;
}
.news-letter-content input {
  height: 3rem;
}
.news-letter-content__submit {
  font-family: "Monda", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e0e0e0 !important;
  color: #b30be6 !important;
}

@media (max-width: 767px) and (min-width: 320px) {
  .heart-banner__spiral {
    display: none;
  }
  .carousel-info {
    padding: 0rem 1rem;
  }
}/*# sourceMappingURL=index.css.map */