$white: #e0e0e0;
$gray: #a7a7a7;
$black: #000;
$purple: #9913e1;
$pink: #b30be6;

$font-title: 'Staatliches';
$font-text: 'Monda', sans-serif;

// .moto {

//     &__black {
//     }

//     &__purple {
//     }
// }

.home {}

.home-background {
    width: 100%;
    height: 0;
    position: relative;
    // z-index:10;  

    &__paper {
        top: 0;
        left: 0;
        position: absolute;
    }

    &__zig-zag {
        top: 12.5rem;
        left: 37.5%;
        position: absolute;
    }

    &__dots {
        top: 0;
        left: 13rem;
        position: absolute;
    }

    &__down {
        bottom: 0;
        left: 6rem;
        position: absolute;
    }
}

.music-show-title {
    max-width: 50%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;

    &__stroke {
        margin-right: 0.5rem;
    }

    &__title {}
}

.home-content {
    padding-top: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .moto {

        &__black {
            transform: translate(-10.5rem, -2.5rem) rotate(-5deg);
        }

        &__purple {
            transform: translate(-4rem, 0)rotate(-3deg);
        }
    }

    &__description {
        padding: 0 25%;
        text-align: center;
    }
}

.home-image {
    width: 100%;
}

.heart-banner {
    padding: 5em 0;
    position: relative;

    &__spiral {
        left: 0;
        bottom: 0;
        position: absolute;
    }

    &__title-block {}

    &__title {
        .title-highlight {
            color: $white;
        }

    }

    &__content {}

    &__description {}
}

.party-info {}

.party-info-background {
    position: relative;
    z-index: 4;

    &__paper {
        transform: translateY(-70%);
        position: absolute;
    }

    &__dots-left {
        top: 15rem;
        left: 0;
        position: absolute;
    }

    &__dots-right {
        top: 10rem;
        right: 0;
        position: absolute;
    }
}

.carousel-dates {
    // padding: 0 20%;
    padding-top: 9rem;
    position: relative;

    &__controls {
        right: 20%;
        position: absolute;
        display: flex;

        & button:first-child {
            margin-right: 9rem;
        }
    }

    &__track {}

    &__slides {
        height: fit-content;
    }

    &__slide {
        height: 30rem;
    }
}

.date {
    padding-top: 5rem;
    min-height: 7rem;
    position: relative;

    &__decorative {
        left: 10%;
        position: absolute;
    }

    &__title {
        top: 0;
        right: 7rem;
        position: absolute;
        font-family: $font-text;
        font-size: 2em;
        font-weight: 700;
        color: $purple;
    }

    .moto {

        &__black {
            transform: translate(-19rem, -2.5rem) rotate(-5deg);
        }

        &__purple {
            transform: translate(3rem, 0) rotate(3deg);
        }
    }

    &__descriptions {}

    &__description {}
}

.reserve-tickets {
    position: relative;
}

.reserve-tickets-top-images {

    &__top-left {
        img {}
    }

    &__top,
    &__left {
        background-color: $purple;

        img {
            opacity: 0.4;
            filter: contrast(125%) brightness(250%);
        }
    }
}

.reserve-tickets-contents {}

.reserve-tickets-content {
    padding: 0 3.5rem !important;
    padding-top: 6rem !important;
    position:relative;

    &__title {
        position: relative;
        font-size:4.5rem;
        padding-bottom:1rem;
        z-index:6;
    }

    &__stroke {
        top:9rem;
        right:13rem;
        position:absolute;
    }

    &__descriptions {}

    &__description-container {}

    &__description {}
}

.reserve-tickets-images {
    bottom: 5rem;
    right: -4rem;
    position: absolute;
    min-width: 100rem;
    display: flex;
    flex-direction: row-reverse;

    &__image {
        float: right;
        margin-right: 1rem;
    }
}

.party-carousel {
    &__carousel {}

    &__paper {}

    &__image {}
}

.carousel-info {

    &__track {}

    &__slides {}

    &__slide {}

    &__controls {}
}

.info {

    &__spin {}


    &__description {}

}

.party-cool {}

.party-cool-image-block {

    &__image {}
}

.party-cool-background {

    &__zig-zag {}

    &__spiral {}

    &__dots {}
}

.party-cool-content {

    &__title-block {}

    &__title {}

    &__description-block {}

    &__description {}
}

.party-heart {

    &__image {}
}

.party-heart-content-background {

    &__paper {}

    &__down-right {}

    &__down {}

    &__up-left {}
}

.party-heart-content {

    &__content {}

    &__title {}

    &__description {}
}

.stars {}

.stars-backgorund {

    &__paper-left {}

    &__dots {}

    &__paper-right {}
}

.carousel-stars {

    &__track {}

    &__slides {}

    &__slide {}

    &__controls {}
}

.star {

    &__title {}

    &__description {}

    &__stroke {}
}

.star-logo {

    &__circle {}

    &__star {}
}

.news-letter {}

.news-letter-content {

    &__paper {}

    &__form {}

    &__name {}

    &__subject {}

    &__message {}

    &__submit {}
}

.news-letter-image {}

//Large
@media (min-width:1440px) {}

//Default
@media (max-width:1439px) and (min-width:1024px) {}

//Tablet
@media (max-width:1023px) and (min-width:768px) {}

//Phone
@media (max-width:767px) and (min-width:320px) {
    .heart-banner__spiral {
        display: none;
    }
}