@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Staatliches&display=swap');
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

$white: #e0e0e0;
$gray: #a7a7a7;
$black: #000;
$purple: #9913e1;
$pink: #b30be6;

$font-title: 'Staatliches';
$font-text: 'Monda', sans-serif;

body,
html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    // max-width: 100%;
    // max-height:100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body div {
    // overflow-y: hidden;
}

body * {
    z-index: 5;
}

body {
    background-color: $black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 700;
    font-size: 4em;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    font-family: $font-text;
    font-weight: 700;
    font-size: 0.875em;

    b {
        font-size: 1.125em;
        font-weight: 900;
        color: $purple;
    }
}

// b {}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: none;
        color: #000;
    }
}

img {
    max-width: 100%;
    height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background: none;
    border: none;

    &:focus {
        outline: 0;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: $white;
}

.row {
    margin: 0;
}

.moto {
    transform: translateX(-5%);
    min-height: 5.5rem;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    color: $white;

    &__black,
    &__purple {
        top: 50%;
        left: 50%;
        position: absolute;
        width: fit-content;
        padding: 0.25em 0.75em;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;
    }

    &__black {
        background-color: $black;
    }

    &__purple {
        background-color: $purple;
    }
}

.learn-more {
    padding: 0.75rem 4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.25rem solid $white;
    border-radius: 2em;
    color: $white;
    transition: 0.25s;

    &:hover {
        background-color: $white;
        color: $pink;
    }

    &.pink {
        border: 0.25rem solid $purple;
        color: $purple;

        &:hover {
            background-color: $purple;
            color: $white;
        }
    }
}

.title-highlight {
    color: $pink;
}

.wide-block {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

.pink-block {
    background-color: $pink;

    & b {
        color: $white;
    }
}

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

[class*="carousel-"] {
    overflow-x: hidden;
}

.header {
    min-height: 4rem;
    width: 100%;
    max-width: 1440px;
    padding-top: 5rem;
    position: fixed;
    z-index: 10;
}

.navigation {
    width: 100%;
    padding-left: 5rem;
    padding-right: 37.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__list {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    &__item {}

    &__link {
        font-family: $font-text;
        text-align: center;
        text-transform: uppercase;
        transition: 0.25s;

        &:focus {
            font-size: 1.25rem;
            font-weight: bold;
            color: $purple;
        }
    }
}

.footer {

    &__title {}

    &__list {}

    &__item {}

    &__link {}

}

.footer-background {

    &__dots {}

    &__paper {}
}

.footer-logo {}

.footer-fast-links {}

.footer-performers {}

.footer-learn-more {}

//Large
@media (min-width:1440px) {}

//Default
@media (max-width:1439px) and (min-width:1024px) {}

//Tablet
@media (max-width:1023px) and (min-width:768px) {}

//Phone
@media (max-width:767px) and (min-width:320px) {

    p {
        padding: 1em !important;
    }

    .moto {
        transform: translateX(0);
        font-size: 0.7rem;
        min-height: 7.5rem;
        &__black {
            transform: translate(-10.5rem, -2.5rem) rotate(-5deg)!important;
        }

        &__purple {
            transform: translate(-4rem, 0)rotate(-3deg)!important;
        }
    }

    .wide-block {
        padding: 1em !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $pink;
    border: 2px solid $black;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $purple;
}