@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Staatliches&display=swap');
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

$white: #e0e0e0;
$gray: #a7a7a7;
$black: #000;
$purple: #831adc;
$pink: #9913e1;

$font-title: 'Staatliches';
$font-text: 'Monda', sans-serif;

body,
html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: $white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    margin: 0;
    padding: 0;
}

p {
    font-family: $font-text;
    margin: 0;
    padding: 0;
}

// b {}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: #000;
    }
}

img {
    max-width: 100%;
    height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background: none;
    border: none;

    &:focus {
        outline: 0;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.row {
    margin: 0;
}

.moto {
    color: $white;

    &__black {
        background-color: $black;
    }

    &__purple {
        background-color: $purple;
    }
}

.learn-more {}

.title-highlight{}

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header {
    position: fixed;
}

.navigation {

    &__list {}

    &__item {}

    &__link {}
}

//Large
@media (min-width:1440px) {}

//Default
@media (max-width:1440px) and (min-width:1024px) {}

//Tablet
@media (max-width:1024px) and (min-width:768px) {}

//Phone
@media (max-width:768px) and (min-width:320px) {}